*{
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bloc1{
    border: 1px solid gray;
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1{
    width: 25vw;
    height: 15vh;
    margin-top:50px ;
    margin-bottom: 40px;
}
input{
    width: 30vw;
    height: 5vh;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    text-overflow: ellipsis;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input::placeholder{
    font-size: 23px;
}
button{
    width: 30vw;
    height: 8vh;
    margin-top: 20px;
    background-color: #52a3cc;
    border: 0 solid;
    border-radius: 20px;
    font-size: 35px;
    color: #FFFFFF;
}
span {
        margin-top: 20px;
        font-size: 25px;
        color: #424242;
    }

.img2 {
        width: 40px;
        height: 40px;
        margin-right: 30px;
    }
a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-top:40px;
}
p{
    font-size: 35px;
    color: darkblue;
}
.bloc2{
    border: 1px solid gray;
    width: 40vw;
    height: 10vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


