*{
    margin: 0;
}
header{
    width: 1440px;
    height: 102px;
    background: #FAFAFA;
}
li{
    list-style-type: none;
    float: left;
    margin-left: 50px;
    color: var(--Gray-1, #333);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#first{
    width: 68.552px;
    height: 41.527px;
    margin: 0;
    padding: 0;
}
#second{
    width: 68.552px;
    height: 12.452px;
    margin: 0;
    padding: 0;
}